<%= simple_form_for @sender, html: { multipart: true } do |f| %>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-7">
        <h3 class="mb-3"> You want to send documents ?  <br> Fill in the form and that's it !</h3>
        <%= f.input :email, placeholder: "Enter your email"%>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-7">
        <%= f.input :recipient, placeholder: "Enter the recipient's email" %>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-7">
        <%= f.input :message, as: :text, placeholder: "Write something to your recipient" %>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-7">
        <%= f.input :username, placeholder: "Username" %>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-7 mt-4">
        <%= file_field_tag 'document[file]', required: true%>
      </div>
      <div class="form-button col-sm-12 col-md-8 col-lg-7 mt-4">
        <%= f.input :days, as: :radio_buttons, collection: (2..4), wrapper: :vertical_collection_inline, label: "Link's activation duration (Days)" %>
      </div>
      <%= f.invisible_captcha :phone_number %>
      <div class="form-button col-sm-12 col-md-8 col-lg-7">
        <%= button_to "Share files", error_path, class:"mb-5"%>
      </div>
    </div>
  </div>
<% end %>
