
<h3> <%= @sender.email %> sent you some files </h3>
<%= @sender.message if @sender.message.present? %>
<% if @sender.days.present? %>
  <p> From the reception of this email this file is available <%=@sender.days%> days on the following link.</p>
<% else %>
  <p> From the reception of this email this file is available 2 days on the following link.</p>
<% end %>
<a href="https://shareverything.herokuapp.com/documents/<%= @sender.url %>">https://shareverything.herokuapp.com/documents/<%=@sender.url%></a>
<p> Thanks for using Shareverything</p>
