<% if @sender.username.present? %>
  <h1> Welcome to Shareverything <%= @sender.username %> </h1>
<% else %>
  <h1> Welcome to Shareverything</h1>
<% end %>
<p> Your file was sent to <%= @sender.recipient %> : </p>
<% if @sender.message.present? %>
<p>Your message : <%= @sender.message %></p>
<% end %>
<p> Your file is available on this link : </p>
<a href="https://shareverything.herokuapp.com/documents/<%= @sender.document.url %>">https://shareverything.herokuapp.com/documents/<%=@sender.document.url%></a>
<p> Thanks for using Shareverything</p>
